<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Monthly Record</title>
</head>
<body>
    <div class="sidebar">
        <!-- <div class="icon-holder">
            <img src="https://png.pngtree.com/png-clipart/20190903/original/pngtree-right-pointing-arrow-icon-design-png-image_4457073.jpg" alt="Default Icon" class="default-icon">
        </div> -->
        <h2>Healro</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile/<%= user.id %>">Profile</a></li>
                <li><a href="/activities">Activities</a></li>
                <li><a href="/contents">Contents</a></li>
                <li><a href="/posting">My Feed</a></li>
                <li><a href="/communities">Communities</a></li>
            </ul>
        </nav>
    </div>
        <!-- Main Content -->
    <div class="main-content">
        <header>
            <h1>Healro</h1>
            <nav>
                <ul>
                    <li><form action="/logout" method="post" style="display:inline;"><button type="submit">Log Off</button></form></li>
                </ul>
            </nav>
        </header>
        <section class="my-activities">
            <h2>Monthly Record</h2>

            <!--activity topics: view only-->
            <div class="activity-topics">
                <ul>
                    <li>General</li>
                    <li>Sleep</li>
                    <li>Nutrition</li>
                    <li>Training</li>
                    <li>Others</li>
                </ul>
            </div>
            
            <!-- Calendar and Notes(split into data display and note) -->
            <div class="calendar">
                <h2>Select Month</h2>
                <div class="monthSelect">
                    <!-- Calendar Content -->
                    <input type="month" class="calendar-input">
                </div>
                <div class="calendar-grid">
                    <!-- Calendar dates will be dynamically generated here -->
                </div>
            </div>

            <!--activity data-->
            <div class="data">
                <!--extract data from date-->

            </div>


            <!--notes-->
            <div class="notes">
                <h2>Notes</h2>
                <div class="notes-content">
                    <!-- Data will be populated here when a date is clicked -->
                </div>
                <textarea placeholder="Write your notes here..."></textarea>
            </div>
        </div>

    </section>
            
        <!--removed customise(input data function in activities page)-->
        <!-- <button class="customize-button" onclick="openCustomizePopup()">Customize</button> -->

        
    </div>
    <footer>
        <p>&copy; 2024 Healro. All rights reserved.</p>
    </footer>
</body>
</html>
