<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Admin Publishing Page</title>
</head>
<body>
    <div class="sidebar">
        <h2>Healro</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile/<%= user.id %>">Profile</a></li>
                <li><a href="/activities">Activities</a></li>
                <li><a href="/contents">Contents</a></li>
                <li><a href="/posting">Community</a></li>
                <li><a href="/top_discussion">Top Discussion</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
            <h1>Healro</h1>
            <nav>
                <ul>
                    <li><form action="/logout" method="post" style="display:inline;"><button type="submit">Log Off</button></form></li>
                </ul>
            </nav>
        </header>
    </div>
</body>
</html>
