<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/communities.css">
    <title>Communities</title>
</head>
<body>
    <div class="sidebar">
        <img class="arrows" src="https://i.pinimg.com/564x/d4/60/fe/d460fe089360a8776144942b2e526087.jpg">
        <h2>Healro</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile/<%= user.id %>">Profile</a></li>
                <li><a href="/activities">Activities</a></li>
                <li><a href="/contents">Contents</a></li>
                <li><a href="/posting">My Feed</a></li>
                <li><a href="/communities">Communities</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
            <h1>Healro</h1>
            <nav>
                <ul>
                    <li><form action="/logout" method="post" style="display:inline;"><button type="submit">Log Off</button></form></li>
                </ul>
            </nav>
        </header>
        <section class="top_discussion">
            <h2>Communities</h2>
            <div class="content-area">
                <div class="posts-grid">
                    <div class="communities-item">
                        <h3><a href="/communities/physical-health">Physical Health</a></h3>
                    </div>
                    <div class="communities-item">
                        <h3><a href="/communities/mental-health">Mental Health</h3>
                    </div>
                    <div class="communities-item">
                        <h3><a href="/communities/general-diseases">General Diseases</h3>
                    </div>
                    <div class="communities-item">
                        <h3><a href="/communities/human-body">Human Body</h3>
                    </div>
                    <div class="communities-item">
                        <h3><a href="/communities/medicine">Medicine</h3>
                    </div>
                    <div class="communities-item">
                        <h3><a href="/communities/fitness">Fitness</h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Healro. All rights reserved.</p>
    </footer>
</body>
</html>
