<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="login-signup">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="email@domain.com" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <button onclick="window.location.href='/signup'">Sign Up</button>
    </div>
    <footer>
        <p>&copy; 2024 Healro. All rights reserved.</p>
    </footer>
</body>
</html>
