
/* ---------------------------sidebar hover------------------------------------*/


/* Sidebar starts off hidden */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1001;
}


/* When hovering over the icon or the sidebar, the sidebar slides into view */
.header-container:hover +  .sidebar,
.sidebar:hover {
    left: 0;
}

/* Adjust the main content to start after the sidebar*/
/* .main-content {
    margin-left: 270px;
    transition: margin-left 0.3s ease;
} */


/* When the sidebar is visible, the main content shifts */
.header-container:hover + .activities-container .main-content,
.custom-sidebar:hover + .main-content {
    margin-left: 250px;
}


