/* Global Styles */
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: #1d1d48;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color:#303089;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }

    header {
        margin-left: 0;
    }

    .health-tracker {
        margin-left: 0;
    }
}
