/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    margin-left: 230px; /* Ensure it doesn't overlap with sidebar */
}

header h1 {
    margin: 0;
    color:#252254;
    font-size: 60px;
    font-family:cursive;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
