/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* ---------------------------sidebar hover------------------------------------*/
/* Sidebar starts off hidden */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px; /*left an edge of sidebar visible while hidden*/
    height: 100%;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1001;
}


/* When hovering over the icon or the sidebar, the sidebar slides into view */
.sidebar:hover{
    left: 0;
}

/* Adjust the main content to start after the sidebar*/
.main-content {
    margin-left: -200px;
    transition: margin-left 0.3s ease;
}

.sidebar .arrows {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-size: cover;
}



