<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Fitness</title>
</head>
<body>
    <div class="sidebar">
        <h2>Healro</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/activities">Activities</a></li>
                <li><a href="/contents">Contents</a></li>
                <li><a href="/all-topics">All Topics</a></li>
                <li><a href="/posting">Community</a></li>
                <li><a href="/top_discussion">Top Discussion</a></li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <header>
            <h1>Fitness</h1>
            <nav>
                <ul>
                    <li><form action="/logout" method="post" style="display:inline;"><button type="submit">Log Off</button></form></li>
                </ul>
            </nav>
        </header>
        <section class="table-container">
            <h2>Articles</h2>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Published Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (articles.length > 0) { %>
                        <% articles.forEach(article => { %>
                            <tr>
                                <td><a href="/reader-article/<%= article.id %>"><%= article.title %></a></td>
                                <td><%= new Date(article.publicationDate).toLocaleString() %></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="2">No published articles.</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="button-container">
                <button onclick="location.href='/contents'">Back to Contents Page</button>
            </div>
        </section>
    </div>
</body>
</html>